<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <div class="bar bar-footer bar-balanced" id="infoFooter" style="height:60px !important;">
    	<div>
        	<img src="img/suppliers/deal.jpg" ng-click="sendDeal()" style="width:100%; padding-bottom:30px" />
        </div>
  </div>
  <ion-content class="BackgroundImage">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv_Deals" style="width:90%;">
        	<p id="infoHeader" ng-click="sendToDeals()">דילים &nbsp;>&nbsp;<span>{{Deal.title}}</span></p>
        	<img id="infoImg" ng-src="{{Imghost}}/{{Deal.big_img}}" style="width:100%; margin-top:3px;" />
            <div class="rowDiv">
                        <div class="LeftRowDiv">
                           <!-- <img src="img/suppliers/estar.png" style="width:100%;" />
                            <p id="favText">הוסף למומלצים</p> -->
                            <img src="img/deals/date1.png" style="height:70px; margin-top:5px; float:left; margin-left:20px;" />
                          
						   <div id="dateText">
                            	<p id="dateText1" style="color:#00c9c7">{{cutDate(Deal.date)}}</p>
                                <p id="dateText3" style="color:#00c9c7; position:relative; left:-10px;">20{{cutYear(Deal.date)}}</p>
                            </div>

                        </div>
                        <div class="CenterRowDiv">
                                <p id="rowName">{{Deal.title}}</p>
                                <div id="dealInfo3" style="margin-right:0px; padding-top:5px;">
                            	 <span id="newPrice" style="color:#00c9c7">{{Deal.reg_price}} ש"ח</span> <span id="oldPrice">{{Deal.deal_price}} ש"ח</span>
                            	</div>
                        </div>	
            </div>
            <div ng-bind-html="Deal.description" id="InfoAboutText" style="color:#00c9c7 !important">
                                
            </div>
         </div>
    </div>
  </ion-content>
</ion-view>
