<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <div class="bar bar-footer bar-balanced" id="infoFooter" style="height:90px !important;">
    	<div id="infoFooter_right" ng-click="PhoneSapak()">
        	<img src="img/suppliers/footer1.jpg" style="width:100%; padding-bottom:30px" />
        </div>
        <div id="infoFooter_left">
        	<img src="img/suppliers/footer2.jpg" style="width:100%; padding-bottom:30px;" />
        </div>
  </div>
  <ion-content>
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv" style="width:90%;">
        	<p id="infoHeader">{{CatagoryName | stripslashes:true}} &nbsp;>&nbsp;<span>{{Name | stripslashes:true}}</span></p>
        	<img id="infoImg" src="{{host}}/{{SupplierImage}}" style="width:100%; margin-top:3px;" />
            <div class="rowDiv">
                        <div class="LeftRowDiv">
                            <img src="img/suppliers/estar.png" style="width:100%;" />
                            <p id="favText">הוסף למומלצים</p>
                        </div>
                        <div class="CenterRowDiv">
                                <p id="rowName">{{Name | stripslashes:true}}</p>
                                <p id="rowTitle">{{Adress | stripslashes:true}}</p>
                                <p id="rowAdress">{{CatagoryName | stripslashes:true}}</p>
                        </div>	
            </div>
            <div  ng-bind-html="About | stripslashes:true" id="InfoAboutText" style="color:#00c9c7 !important">
                                
            </div>
         </div>
    </div>
  </ion-content>
</ion-view>
