<ion-view title="{{navTitle}}">
  <ion-content class="BackgroundImage">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
		
	
		<div class="videoWrapper">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/lqmg1DprP-4" frameborder="0" allowfullscreen></iframe>
		</div>
            <div class="cubesDiv">
			
			
                  <div class="HeadreCubes" ng-click="DealsBtn()">
                	<img src="img/main/b4.png" style="width:100%" />	
					<p>דילים</p>
                </div>  

                <div class="HeadreCubes" ng-click="ContactBtn()">
                	<img src="img/main/b4.png" style="width:100%" />	
					<p>צור קשר</p>
                </div>

            </div>
         </div>
    </div>
  </ion-content>
</ion-view>
