<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <ion-content >
  		<!-- <img src="img/main1.png" style="width:100%;" /> -->
		<div class="list">
		  <label class="item item-input">
			<span class="input-label">START</span>
			<!-- <p>{{startDate}}</p> -->
			<input type="datetime-local"  ng-model="fields.start" ng-click="changeInput(0)">
		  </label>
		  <label class="item item-input">
			<span class="input-label">END</span>
			<!-- <p>{{endDate}}</p> -->
			<!-- 
			onClick="(this.type='datetime-local')" onfocus="(this.type='datetime-local')"
			-->
			<input type="datetime-local"    ng-model="fields.end" ng-click="changeInput(1)">
		  </label>
		</div>


        <div class="buttonsDiv" align="center"> 

		
		


            
       </div>
        

  </ion-content>
</ion-view>
