

.title-image
{
	margin-top:10px;
	width:150px;	
}
.buttonsDiv
{
	width:100%;
}

.buttonsDivInside
{
	width:80%;
}

.timerButton
{
	width:25%;
	margin-top:10px;
}

.plusMinusDiv
{
	width:80%;
	overflow:hidden;
}

.PlusDiv
{
	float:right;
	width:17%;	
}

.MinsDiv
{
	float:left;
	width:17%;	
}

.OnOff
{
	width:43%;
	margin-top:35px;
}

.tempDiv
{
	position:absolute;
	z-index:100;
	top:100px;
	left:40%;
}

.tempDiv p
{
	font-size:85px;
	font-weight:bold;
	color:white;
	text-shadow: -2px 0 #ccc, 0 2px #ccc, 2px 0 #ccc, 0 -2px #ccc;
}

