<ion-modal-view >

    <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div ng-click='closeAgent()' >
	      <button class="button button-clear" ng-click="closeAgent()">סגירה</button>
	<!--
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
	-->
    </div>
  <h1 class="title"><img src="img/logo.png"  class="title-image" style=""></h1>
  
</ion-header-bar>

<!--

  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAgent()">סגירה</button>
    </div>
  </ion-header-bar>
-->
  <ion-content class="BackgroundImage">
  <!--
    <form ng-submit="doLogin()">
  -->

     <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
            <!-- Header -->
            <div>
                <img src="img/logo.png" style="width:55%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
            	<img src="img/connect.png" style="width:50%; margin-top:20px;" />
                <div>
                  <label>
                    <input type="text" placeholder="שם מלא" class="loginInput" ng-model="agent.name">
                  </label>
                  <label >
                    <input type="email" placeholder="אימייל" class="loginInput" style="margin-top:5px; color:white;" ng-model="agent.email">
                  </label>
                  <label >
                    <input type="tel" placeholder="טלפון" class="loginInput" style="margin-top:5px; color:white;" ng-model="agent.phone">
                  </label>
				  <label>
					  <select name="agent.event" ng-model="agent.event" class="loginInput" style="margin-top:5px; color:#fff !important;">
					  <option value="">סוג אירוע</option>
					  <option value="חתונה">חתונה</option>
					  <option value="ברית/בריתה">ברית/בריתה</option>
					  <option value="בר/בת מצווה">בר/בת מצווה</option>
					  <option value="אחר">אחר</option>
					  </select>
				  </label>
				  <label>
					<textarea rows="4" cols="50" placeholder="תוכן הפנייה..." style="margin-top:5px; text-align:right; direction:rtl; height:100px !important" ng-model="agent.details" class="loginInput"></textarea>				  
				  </label>
				  
                </div>
                <div align="center" ng-click="SendDetailsBtn()">        	
                    	<img src="img/new.png" style="width:48%; " />
            	</div>

            </div>
         </div>
    </div> 
  
  
	<!--
    </form>
	-->
  </ion-content>
</ion-modal-view>
