<ion-view view-title="" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="BackgroundImage">
   <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> 
    </ion-list>-->
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
            <!-- Header -->
            <div>
                <img src="img/logo.png" style="width:55%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
            	<img src="img/reg.png" style="width:40%; margin-top:20px;" />
                <div>
                  <label >
                    <input type="text" placeholder="שם מלא" class="loginInput" style="margin-top:5px; color:white;" ng-model="contact.name">
                  </label>
                  <label>
                    <input type="text" placeholder='כתובת דוא"ל' class="loginInput" ng-model="contact.email" style="margin-top:10px;">
                  </label>
                  <label >
                    <input type="text" placeholder="טלפון" class="loginInput" style="margin-top:10px;" ng-model="contact.phone">
                  </label>
                </div>
                  <label >
				  <textarea rows="4" cols="50" placeholder="תוכן הפנייה..." class="loginInput" ng-model="contact.details" style="direction:rtl;  margin-top:5px; height:100px !important;"></textarea>
                  </label>
                </div>				
                <div ng-click="SendContact()" style="margin-top:5px;">
                    	<img src="img/okBtn.png" style="width:48%; " />
            	</div>

            </div>
         </div>
    </div>
  </ion-content>
</ion-view>
