<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="true">
  <ion-content >
  		<!-- <img src="img/main1.png" style="width:100%;" /> -->
        <div> 
        	<img src="img/main_img.png" style="width:100%; z-index:0" />
            <div class="tempDiv">
            	
                <img src="img/cel.png" style="width:40px; position:absolute; left:90px; margin-top:-30px; z-index:0" />
                <img src="img/cold.png" style="width:25px; position:absolute; left:100px; margin-top:20px; z-index:0" />
                <p ng-show="showGlobalTemp"> {{globalTemp}} </p>
				<p ng-show="showUserTemp"> {{userTemp}} </p>
            </div>
        </div>
        <div class="buttonsDiv" align="center"> 
            <div class="buttonsDivInside" align="center"> 
            	<div class="timerButton" ui-sref="app.timer()">
                	<img src="img/timer.png" style="width:100%;" />
                </div>
            </div>
            <div class="plusMinusDiv" align="center"> 
				<div class="PlusDiv" align="center" ng-click="changeTemp(1)"> 
					<img src="img/plus.png" style="width:100%;" />
				</div>
                <div class="MinsDiv" align="center" ng-click="changeTemp(0)"> 
					<img src="img/minus.png" style="width:100%;" />
				</div>
			</div>
            <div class="buttonsDivInside" align="center"> 
            	<div class="OnOff">
                	<img src="img/on.png" ng-click="setOnOff(0)" ng-if="OnOff" style="width:100%;" />
                    <img src="img/off.png" ng-click="setOnOff(1)" ng-if="!OnOff" style="width:100%;" />
                </div>
            </div>
            
       </div>
        
  </ion-content>
</ion-view>
