<ion-view view-title="{{navTitle}}" hide-nav-bar="false" hide-back-button="true"> 
  <ion-content class="BackgroundImage">
   <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> 
    </ion-list>-->
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
            <!-- Header -->

            <!-- Input Text -->
            <div class="loginForm" ng-click="FaceBookLoginBtn()">

                <img src="img/fbconnect.png" style="width:97%; margin-top:8px" />
            </div>
         </div>
    </div>
  </ion-content>
</ion-view>
