<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="BackgroundImage1">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv" style="width:90%;">
        	<img src="img/suppliers/djs.png" style="width:50%; margin-top:3px;" />
            <img src="img/suppliers/search.jpg" style="width:100%; margin-top:20px;" />
            <div ng-repeat="item in Suppliers">
                <div class="rowDiv">
                        <div class="LeftRowDiv">
                            <img ng-src="{{starImg}}" ng-click = "favorite($index)" style="width:100%;" />
                            <p id="favText">הוסף למומלצים</p>
                        </div>
                        <a href="#/app/info/{{CatId}}/{{$index}}">
                            <div class="RightRowDiv">
                                <img src="{{host}}/{{item.image}}" style="width:100%;" />
                            </div>
                            <div class="CenterRowDiv">
								<p id="rowName">{{item.name | stripslashes:true}}</p>
								<p id="rowName">{{item.address | stripslashes:true}}</p>
                                <p id="rowAdress">{{Catagoryname}}</p>
                            </div>
                    	</a>
                </div>
             </div>
         </div>
    </div>
  </ion-content>
</ion-view>
